{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/acompanha_peso.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veja Seu Peso</title>
</head>
<body>
    <nav class="menu"></nav>
    <a href="#home" tabindex="1">Home</a>
    <a href="#hidratacao" tabindex="2">Hidratação</a>
    <a href="#meupeso" tabindex="3">Meu peso</a>
    <a href="#meustreinos" tabindex="4">Meus treinos</a>
    <a href="#reduzirestresse" tabindex="5">Reduzir estresse</a>
    <a href="#saude" tabindex="6">Saúde</a>
</nav>
    <main>
        <h1>Veja Seu Peso</h1>

        <p>Seu IMC atual é: <strong>{{ imc }}</strong></p>
        <p>Classificação: <strong>{{ classificacao }}</strong></p>

        <fieldset>
            <legend>Estabeleça Metas</legend>
            <form method="post">
                {% csrf_token %}
                <div>
                    <label for="meta">Deseja:</label>
                    {{ form.tipo_meta }}
                </div>
                <div>
                    <label for="quantidade">Quantidade de peso (kg):</label>
                    {{ form.quantidade }}
                </div>
                <div>
                    <label for="prazo">Prazo para alcançar a meta:</label>
                    {{ form.prazo }}
                </div>
                <div>
                    <label for="data_registro">Insira a data para registro:</label>
                    {{ form.data_registro }}
                </div>
                <button type="submit">Registrar Meta</button>
            </form>
        </fieldset>
    </main>
</body>
</html>
