{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar treino</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/editartreino.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <nav class="menu" role="navigation" aria-label="Main Navigation">
        <a href="{% url 'home' %}" tabindex="1" aria-label="Home"><i class="fa-light fa-house"></i> Home</a>
        <a href="{% url 'hidratacao' %}" tabindex="2" aria-label="Hidratação"><i class="fas fa-water"></i> Hidratação</a>
        <a href="{% url 'meupeso' %}" tabindex="3" aria-label="Meu Peso"><i class="fas fa-weight"></i> Meu peso</a>
        <a href="{% url 'meustreinos' %}" tabindex="4" aria-label="Meus Treinos"><i class="fas fa-dumbbell"></i> Meus treinos</a>
        <a href="{% url 'estresse' %}" tabindex="5" aria-label="Reduzir Estresse"><i class="fas fa-spa"></i> Reduzir estresse</a>
        <a href="#saude" tabindex="6" aria-label="Saúde"><i class="fas fa-heartbeat"></i> Saúde</a>

        <!-- Botão de logout -->
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" tabindex="7" class="logout-button" aria-label="Log out">
                <i class="fas fa-sign-out-alt"></i> Log out
            </button>
        </form>
    </nav>

    <main>
        <section>
            <h1>Selecione o treino que você deseja editar</h1>
            <br>
            <div>
                <a href="{% url 'meustreinos' %}">Voltar aos meus treinos</a><br>
                <a href="{% url 'adicionar_treino' %}">Adicionar Treino</a><br>
            </div>
            <br>

            <form action="{% url 'atualizar_treino' %}" method="post">
                {% csrf_token %}
                <label for="musculo">Selecione a parte do corpo:</label>
                <select id="musculo" name="musculo" required>
                    <option value="costas">Costas</option>
                    <option value="inferiores">Inferiores</option>
                    <option value="peito">Peito</option>
                    <option value="superiores">Superiores</option>
                    <option value="ombro">Ombro</option>
                </select>
                <br><br>

                <label for="treino_atual">Treino Atual:</label>
                <textarea id="treino_atual" name="treino_atual" rows="4" cols="50" readonly>{{ treino_atual }}</textarea>
                <br><br>

                <label for="exercicio">Novo Exercício:</label>
                <input type="text" id="exercicio" name="exercicio" required>
                <br><br>

                <label for="series">Quantidade de Séries:</label>
                <input type="number" id="series" name="series" min="1" required>
                <br><br>

                <label for="acao">Adicionar ou Substituir:</label>
                <select id="acao" name="acao" required>
                    <option value="adicionar">Adicionar</option>
                    <option value="substituir">Substituir</option>
                </select>
                <br><br>

                <div id="exercicio_substituto_container" style="display: none;">
                    <label for="exercicio_substituto">Exercício a ser substituído:</label>
                    <input type="text" id="exercicio_substituto" name="exercicio_substituto">
                </div>
                <br>

                <button type="submit">Atualizar Treino</button>
            </form>
        </section>
    </main>

    <script>
        // Script para mostrar ou esconder o campo de exercício substituto
        document.getElementById('acao').addEventListener('change', function () {
            var valor = this.value;
            var container = document.getElementById('exercicio_substituto_container');
            if (valor === 'substituir') {
                container.style.display = 'block';
            } else {
                container.style.display = 'none';
            }
        });
    </script>
</body>

</html>
