{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <form method="post">
            {% csrf_token %}
            <h1>Login</h1>
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
        <p>Ainda não tem cadastro? <a href="{% url 'cadastro' %}">Clique aqui para se cadastrar</a>.</p>
    </main>
</body>
</html>
