<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Técnicas para bem-estar</title>
</head>
<body>
    <nav class="menu"></nav>
        <a href="#home" tabindex="1">Home</a>
        <a href="#hidratacao" tabindex="2">Hidratação</a>
        <a href="#meupeso" tabindex="3">Meu peso</a>
        <a href="#meustreinos" tabindex="4">Meus treinos</a>
        <a href="#reduzirestresse" tabindex="5">Reduzir estresse</a>
        <a href="#saude" tabindex="6">Saúde</a>
    </nav>
    <h1>Bem-vindo à seção de técnicas de bem-estar do app! Aqui, você pode escolher entre três opções poderosas para melhorar sua saúde e relaxamento.</h1>
    <br>
    <p>A respiração guiada ajuda a acalmar a mente o corpo através de exercícios respiratórios estruturado, promovendo um estado de tranquilidade e foco.</p>
    <br>
    <p>O relaxamento muscular foca na liberação da tensão física, auxiliando na redução do estresse e na melhora da flexibilidade.</p>
    <br>
    <p>O alongamento melhora a flexibilidade e a mobilidade das suas articulações, o que pode reduzir o risco de lesões e melhorar sua performance física.</p>
    <br>
    <label>Selecione a técnica que mais se adapta às suas necessidades:</label>
    <br>
            <select name="tecnicas">
                <option value="respiracao" >Respiração guiada</option>
                <option value="relaxamento">Relaxamento muscular</option>
                <option value="alongamento">Alongamento</option>
            </select>
            <br>
            <input type="submit" value="Selecionar">
</body>
</html>
