body {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha verticalmente os itens */
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo suave */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

img {
    max-width: 100px; /* Limita a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 20px; /* Espaço à direita da imagem */
}

form {
    display: flex;
    flex-direction: column; /* Alinha os itens do formulário em coluna */
    max-width: 400px; /* Limita a largura do formulário */
}

button {
    margin-top: 10px; /* Espaço acima do botão */
    padding: 10px;
    font-size: 1em;
    color: white; /* Cor do texto */
    background-color: #007bff; /* Cor do botão */
    border: none; /* Remove bordas do botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}
