body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px; 
    padding: 70px;
    background-color: #ffffff;
}

h1 {
    font-size: 42px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin: 20px 0;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

button[type="submit"] {
    padding: 15px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #218838;
}
